<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AV Pain Reliever Camera Extension</string>
	<key>CFBundleExecutable</key>
	<string>AVPainRelieverCameraExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.ericwillis.avpainreliever.CameraExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AVPainRelieverCameraExtension</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>__MARKETING_VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD_VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Eric Willis. MIT-licensed.</string>
</dict>
</plist>
